# Start window numbering at 1 (default => 0)
set -g base-index 1

set -g clock-mode-style 12

# Renumber windows after removing one
set -g renumber-windows on

# use 256 colors
set -g default-terminal "screen-256color"

# change tmux bar colors
set -g status-bg '#666666'
set -g status-fg '#aaaaaa'

# Keep plenty of history for scrollback
set -g history-limit 10000
